.wrapper{
    margin-top: 5rem; 
color: #4B5563; 

}
.wrapper-two{
    width: 100%; 
display: flex; 
padding-left: 1.25rem;
padding-right: 1.25rem; 
padding-top: 6rem;
padding-bottom: 6rem; 
margin-left: auto;
margin-right: auto; 
flex-direction: column; 
align-items: center; 

@media (min-width: 768px) { 
    flex-direction: row; 
  justify-content: center; 
   }
}
.wrapper-two{
    display: flex; 
margin-bottom: 4rem; 
text-align: center; 
flex-direction: column; 
align-items: center; 


@media (min-width: 768px) { 
  padding-right: 4rem; 
margin-bottom: 0; 
text-align: left; 
align-items: flex-start; 
 }
@media (min-width: 1024px) { 
  padding-right: 6rem; 
 }

}.bn-h1{
    margin-bottom: 1rem; 
color: #111827; 
font-size: 1.875rem;
line-height: 2.25rem; 
font-weight: 500; 

@media (min-width: 640px) { 
  font-size: 2.25rem;
line-height: 2.5rem; 
 }

}
.bn-br{
    display: none; 



@media (min-width: 1024px) { 
  display: inline-block; 
 }



}
.bn-p{
    margin-bottom: 2rem; 
line-height: 1.625; 



}
.info{
    display: flex; 
justify-content: center; 



}
.bn-btn{
    display: inline-flex; 
padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 1.5rem;
padding-right: 1.5rem; 
background-color: #6366F1; 
color: #ffffff; 
font-size: 1.125rem;
line-height: 1.75rem; 
border-radius: 0.25rem; 
border-width: 0; 


}
.bn-btn1:hover{
    background-color: #46bde5; 

}
.bn-btn2{
    display: inline-flex; 
padding-top: 0.5rem;
padding-bottom: 0.5rem; 
padding-left: 1.5rem;
padding-right: 1.5rem; 
margin-left: 1rem; 
background-color: #F3F4F6; 
color: #374151; 
font-size: 1.125rem;
line-height: 1.75rem; 
border-radius: 0.25rem; 
border-width: 0; 
}
.bn-btn2:hover{
        background-color: #07a9fa;   
}
.down{
    width: 83.333333%; 


@media (min-width: 768px) { 
  width: 50%; 
 }
@media (min-width: 1024px) { 
  width: 100%; 
max-width: 32rem; 
 }
}
.bn-img{
    object-fit: cover; 
object-position: center; 
border-radius: 0.25rem; 
}